body {
  border: none;
}

.flex-box ul {
    margin-top: 40px;
    padding-top: 40px;
}

.flex-box li {
  	list-style: none;
  	display: inline;
    margin-top: 20px;
    padding-top: 20px;
   
}

section {
  text-align: center;
  margin-top: 50px;
  padding-top: 50px;

}

h3 {
  margin: auto;
  padding: auto;
}

.flex-pic {
  box-shadow: none;
  width: 225px;
  height: 225px;
  margin: 25px 25px 0 40px;
  padding: 25px 25px 0 40px;

}

.flex-pic:hover {
  opacity: 0.3;
}

.musicmags a {
  border: none;
  box-shadow: none;
}

.musicmags {
  margin-left: 15px;
  padding-left: 15px;
}

.footer {
  margin-right: 20px
}