
.navcontainer {
	margin: 0;
	padding:0;
	list-style-type:none;
	text-align: center;
}

.navcontainer li {
	display:inline-block;
	margin: 15px;
	padding: 15px 30px 15px 15px;
	border-style: none;
}

.navcontainer a, .albumcontainer a {
	box-shadow: none;
	border-style: none;
}

.albumcontainer {
	width: 100%;
	display: inline-block;
}

.albumcontainer ul {
	margin-left: 300px;
	margin-top: 20px;
}

.albumcontainer li {
	display: inline-block;

}

/*jquery*/

.spain, .italy, .argentina, .peru, .poland, .brazil, .egypt {
	display: none;
}

.show {
	display: inline-block;
}

ul li a img .magnify {
	width: 500px;
	height: 500px;
}

.hide {
	display: none;
}
