/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

.sans-serif,body {
    font-family: 'Lato',sans-serif;
}
ul, li {
  list-style-type: none;
}
.container {
    position: relative;
    width: 1152px;
    margin: 0 auto;
    padding: 0;
}

.container.plusfour {
    width: 1536px;
}

.container.pluseight {
    width: 1920px;
}

.column,.columns {
    float: left;
    display: inline;
    margin-left: 14px!important;
    margin-right: 14px!important;
}

.row {
    margin-bottom: 28px;
}

.column.alpha,.columns.alpha {
    margin-left: 0!important;
}

.column.omega,.columns.omega {
    margin-right: 0!important;
}

.column.alpha.omega,.columns.alpha.omega {
    margin: 0!important;
}

.container .one.column {
    width: 68px;
    -webkit-transition: width 0.25s ease;
    transition: width 0.25s ease;
}

.container .columns.two {
    width: 164px;
}

.container .columns.three {
    width: 260px;
}

.container .columns.four {
    width: 356px;
}

.container .columns.five {
    width: 452px;
}

.container .columns.six {
    width: 548px;
}

.container .columns.seven {
    width: 644px;
}

.container .columns.eight {
    width: 740px;
}

.container .columns.nine {
    width: 836px;
}

.container .columns.ten {
    width: 932px;
}

.container .columns.eleven {
    width: 1028px;
}

.container .columns.twelve {
    width: 1124px;
}

.container .one-third.column {
    width: 352px;
}

.container .two-thirds.column {
    width: 732px;
}

.container .offset-by-one {
    padding-left: 96px;
}

.container .offset-by-two {
    padding-left: 192px;
}

.container .offset-by-three {
    padding-left: 288px;
}

.container .offset-by-four {
    padding-left: 384px;
}

.container .offset-by-five {
    padding-left: 480px;
}

.container .offset-by-six {
    padding-left: 576px;
}

.container .offset-by-seven {
    padding-left: 672px;
}

.container .offset-by-eight {
    padding-left: 768px;
}

.container .offset-by-nine {
    padding-left: 864px;
}

.container .offset-by-ten {
    padding-left: 960px;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container {
        width: 888px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .container.plusfour {
        width: 888px;
    }

    .container.pluseight {
        width: 888px;
    }

    .container .column,.container .columns {
        margin-left: 12px!important;
        margin-right: 12px!important;
    }

    .column.alpha,.columns.alpha {
        margin-left: 0!important;
        margin-right: 12px!important;
    }

    .column.omega,.columns.omega {
        margin-right: 0!important;
        margin-left: 12px!important;
    }

    .container .one.column {
        width: 50px;
    }

    .container .columns.two {
        width: 124px;
    }

    .container .columns.three {
        width: 198px;
    }

    .container .columns.four {
        width: 272px;
    }

    .container .columns.five {
        width: 346px;
    }

    .container .columns.six {
        width: 420px;
    }

    .container .columns.seven {
        width: 494px;
    }

    .container .columns.eight {
        width: 568px;
    }

    .container .columns.nine {
        width: 642px;
    }

    .container .columns.ten {
        width: 716px;
    }

    .container .columns.eleven {
        width: 790px;
    }

    .container .columns.twelve {
        width: 864px;
    }

    .container .one-third.column {
        width: 267.3333333333333px;
    }

    .container .two-thirds.column {
        width: 558.6666666666666px;
    }

    .container .offset-by-one {
        padding-left: 74px;
    }

    .container .offset-by-two {
        padding-left: 148px;
    }

    .container .offset-by-three {
        padding-left: 222px;
    }

    .container .offset-by-four {
        padding-left: 296px;
    }

    .container .offset-by-five {
        padding-left: 370px;
    }

    .container .offset-by-six {
        padding-left: 444px;
    }

    .container .offset-by-seven {
        padding-left: 518px;
    }

    .container .offset-by-eight {
        padding-left: 592px;
    }

    .container .offset-by-nine {
        padding-left: 666px;
    }

    .container .offset-by-ten {
        padding-left: 740px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 684px;
    }

    .container.plusfour {
        width: 684px;
    }

    .container.pluseight {
        width: 684px;
    }

    .container .column,.container .columns {
        margin-left: 10px!important;
        margin-right: 10px!important;
    }

    .column.alpha,.columns.alpha {
        margin-left: 0!important;
        margin-right: 10px!important;
    }

    .column.omega,.columns.omega {
        margin-right: 0!important;
        margin-left: 10px!important;
    }

    .container .one.column {
        width: 37px;
    }

    .container .columns.two {
        width: 94px;
    }

    .container .columns.three {
        width: 151px;
    }

    .container .columns.four {
        width: 208px;
    }

    .container .columns.five {
        width: 265px;
    }

    .container .columns.six {
        width: 322px;
    }

    .container .columns.seven {
        width: 379px;
    }

    .container .columns.eight {
        width: 436px;
    }

    .container .columns.nine {
        width: 493px;
    }

    .container .columns.ten {
        width: 550px;
    }

    .container .columns.eleven {
        width: 607px;
    }

    .container .columns.twelve {
        width: 664px;
    }

    .container .one-third.column {
        width: 205px;
    }

    .container .two-thirds.column {
        width: 430px;
    }

    .container .offset-by-one {
        padding-left: 57px;
    }

    .container .offset-by-two {
        padding-left: 114px;
    }

    .container .offset-by-three {
        padding-left: 171px;
    }

    .container .offset-by-four {
        padding-left: 228px;
    }

    .container .offset-by-five {
        padding-left: 285px;
    }

    .container .offset-by-six {
        padding-left: 342px;
    }

    .container .offset-by-seven {
        padding-left: 399px;
    }

    .container .offset-by-eight {
        padding-left: 456px;
    }

    .container .offset-by-nine {
        padding-left: 513px;
    }

    .container .offset-by-ten {
        padding-left: 570px;
    }

}

@media only screen and (max-width: 767px) {
    .columns,.column {
        margin: 0!important;
    }

    .container {
        width: 280px;
    }

    .container.plusfour,.container.pluseight {
        width: 280px;
    }

    .container .column.one-third,.container .column.two-thirds,.container .column.one {
        width: 280px;
    }

    .container .columns.two,.container .columns.three,.container .columns.four,.container .columns.five,.container .columns.six,.container .columns.seven,.container .columns.eight,.container .columns.nine,.container .columns.ten,.container .columns.eleven,.container .columns.twelve {
        width: 280px;
    }

    .container .offset-by-one,.container .offset-by-two,.container .offset-by-three,.container .offset-by-four,.container .offset-by-five,.container .offset-by-six,.container .offset-by-seven,.container .offset-by-eight,.container .offset-by-nine,.container .offset-by-ten {
        padding-left: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 400px;
    }

    .container.plusfour,.container.pluseight {
        width: 400px;
    }

    .container .column.one-third,.container .column.two-thirds,.container .column.one {
        width: 400px;
    }

    .container .columns.two,.container .columns.three,.container .columns.four,.container .columns.five,.container .columns.six,.container .columns.seven,.container .columns.eight,.container .columns.nine,.container .columns.ten,.container .columns.eleven,.container .columns.twelve {
        width: 400px;
    }
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,.clearfix:after,.row:before,.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,.clearfix:after {
    clear: both;
}

.row,.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

@media only screen and (min-width: 768px) {
    .lt768 {
        display: none!important;
    }
}

@media only screen and (min-width: 959px) {
    .lt960 {
        display: none!important;
    }
}

@media only screen and (min-width: 1200px) {
    .lt1200 {
        display: none!important;
    }
}

@media only screen and (max-width: 767px) {
    .gt768 {
        display: none!important;
    }
}

@media only screen and (max-width: 959px) {
    .gt960 {
        display: none!important;
    }
}

@media only screen and (max-width: 1199px) {
    .gt1200 {
        display: none!important;
    }
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

strong {
    font-weight: bold;
}

code,kbd,pre,samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}


button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,input {
    line-height: normal;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
html,button,input,select,textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    color: #444444;
    background: #efefef;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.mobile-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mobile-bg-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media only screen and (max-width: 400px) {
    .mobile-bg-container {
        background-image: url(../images/bg-animation-vert.gif);
        min-height: 500px;
    }
}

@media only screen and (min-width: 401px) {
    .mobile-bg-container {
        background-image: url(../images/bg-animation-horiz.gif);
        min-height: 300px;
    }
}

@media only screen and (min-width: 1025px) {
    .mobile-bg-container {
        display: none;
    }
}

.post-type-archive-work .page-wrap {
    background-color: #444!important;
}

.single .mobile-bg-container {
    display: none!important;
}

.page-wrap {
    position: relative;
    z-index: 2;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
    .page-wrap {
        background-color: rgba(0,0,0,0.5);
    }
}

html.opening-portfolio body {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
}

html.fadeout body {
    opacity: 0!important;
    -webkit-background-size: 0;
    background-size: 0;
}

html.fadein body {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
}

body.work-item {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff!important;
}

.uc {
    text-transform: uppercase;
}

.nodecoration {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    padding: 50px 0;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2em;
        padding: 30px 0 0 0;
    }
}

h2 {
    font-size: 2.6em;
    margin: 0 0 0.5em 0;
}

h3 {
    font-size: 2.2em;
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
}

a,a:link,a:active,a:visited {
    color: #fff;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: #ffffff;
}

.text-blue {
    color: rgba(71,163,218, .8);
}

.text-dark {
    color: #444444;
}

.text-light-grey {
    color: #eee;
}

.bg-grey-trans {
    background-color: rgba(34,34,34,0.997);
}

.bg-white {
    background-color: #ffffff;
}

.bg-transparent {
    background-color: transparent;
}

body.dark {
    background-color: #222;
    color: #fff;
}

body.dark #main-header {
    background: transparent;
    color: #ffffff;
}

body.dark #main-header nav a {
    color: #ffffff;
}

body.dark #main-header .row {
    padding-top: 30px;
}

body.dark #main-header #logo svg {
    width: 100%;
    height: 100%;
}

body.dark #main-header #logo svg path {
    fill: #444;
}

body.dark section {
    overflow: auto;
}

body.dark section.padded {
    padding: 80px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.dark h4.quotable {
    font-weight: 100;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

body.video-on {
    background-color: #111;
}

.page-wrap {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}


.width-100 {
    width: 100%;
}

.button {
    display: inline-block;
    padding: 1em 1.5em 0.9em 1.5em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 0.5em 0.5em 0;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.19999999999999996);
    border-radius: 5px;
    font-weight: 100;
}

.button:link,.button:active,.button:visited {
    color: #ffffff;
}


@media only screen and (max-width: 1024px) {
    #big-video-wrap {
        display: none!important;
    }
}
#main-header {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    width: 100%;
    background: transparent;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-width: 1024px) {
    #main-header {
        position: absolute;
    }
}

#main-header .container {
    padding-top: 0;
    -webkit-transition: padding-top 0.25s ease;
    transition: padding-top 0.25s ease;
}

#main-header h1 {
    font-weight: 300;
    font-size: 3.5em;
    border-top: 1px solid rgba(255,255,255,0.19999999999999996);
    padding-top: 50px;
    color: #ffffff;
}

#main-header h1 .heavier {
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    #main-header h1 {
        font-size: 2em;
        padding-top: 15px;
    }
}

#main-header nav {
    position: relative;
    text-align: right;
    float: right;
}

#main-header nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.2em;
    display: inline-block;
    padding: 8px 0 8px 0;
    margin-left: 42px;
    font-size: 0.8em;
}

@media only screen and (max-width: 960px) {
    #main-header nav a {
        margin-left: 30px;
    }
}

#main-header .row {
    position: relative;
    padding-top: 50px;
    margin-bottom: 30px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

@media only screen and (max-width: 959px) {
    #main-header .row {
        padding-top: 35px;
    }
}

#main-header #logo {
    -webkit-transition: width 0.25s ease;
    transition: width 0.25s ease;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    width: 160px;
    height: 56px;
    display: block;
}

.mobile-nav-wrap {
    position: fixed;
    z-index: 10000;
    opacity: 0;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.19999999999999996);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    display: block;
    overflow: hidden;
}

.mobile-nav-wrap nav.mobile-nav {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
    top: 12.5%;
    bottom: 12.5%;
    left: 15%;
    right: 15%;
    background-color: rgba(255,255,255,0.97);
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
}

.mobile-nav-wrap nav.mobile-nav .close-btn {
    position: absolute;
    top: -20px;
    right: 20px;
    background-color: #000080;
    border-radius: 50px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.mobile-nav-wrap nav.mobile-nav .close-btn:after {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    content: "X";
    z-index: 1;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.mobile-nav-wrap a {
    display: table;
    color: #444444;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-bottom: 1px solid #efefef;
    position: relative;
    height: 20%;
    width: 100%;
}

.mobile-nav-wrap a:active {
    background-color: #000080;
    color: #fff;
}

.mobile-nav-wrap a span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mnav-open .mobile-nav-wrap {
    opacity: 1;
    height: 100%;
}

.mnav-open .mobile-nav-wrap nav {
    top: 7.5%;
    bottom: 7.5%;
    left: 10%;
    right: 10%;
}

.mnav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #dedede;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 40px;
    width: 40px;
    z-index: 10000;
    -webkit-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
    cursor: pointer;
    background-image: url(../images/list-icon.svg);
    -webkit-background-size: 45%;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}

body.mnav-open {
    background-color: #222;
}

.mnav-open .mnav-button {
    opacity: 0;
}

.articles {
    top: 200px;
    position: relative;
    -webkit-transition: top 1.4s ease-out,opacity 1.2s ease-in;
    transition: top 1.4s ease-out,opacity 1.2s ease-in;
    -webkit-transition-delay: .6s;
    opacity: 0;
}

.articles .half {
    width: 50%;
    float: left;
}

.dark-bg {
    background-color: #444444;
    color: #ffffff;
}

.blue-bg {
    background-color: rgba(71,163,218, .8);
    color: #ffffff;
}

.header-wrapper {
    padding: 6em 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #eee;
    font-family: 'Lato',sans-serif;
}

@media only screen and (max-width: 767px) {
    .header-wrapper {
        padding: 2em 0;
    }
}

.header-wrapper h2 {
    font-family: 'Lato',sans-serif;
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.header-wrapper h2 .terms {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.max-900 {
    max-width: 900px;
    margin: 0 auto;
}

.max-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

#interior-header {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 98px;
    background-color: rgba(34,34,34,0.9);
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#interior-header .container {
    padding-top: 0;
}

#interior-header nav {
    position: relative;
    text-align: right;
}

#interior-header nav a, #interior-header #logo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.2em;
    display: inline-block;
    padding: 8px 0 8px 0;
    margin-left: 42px;
    font-size: 0.8em;
}

#interior-header nav a.active {
    border-bottom: 2px solid #000080;
}
@media only screen and (max-width: 959px) {
    #interior-header nav a {
        margin-left: 30px;
    }
}

#interior-header .row {
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

#interior-header #logo {
    -webkit-transition: width 0.25s ease;
    transition: width 0.25s ease;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    width: 112px;
    height: 39.2px;
    display: block;
}

@media only screen and (max-width: 1024px) {
    #interior-header {
        position: absolute;
        background-color: transparent;
    }
}

.nav-dark-text #interior-header {
    background-color: rgba(0,0,0,0.09999999999999998);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
}

.nav-dark-text #interior-header nav a {
    color: #fff;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.nav-dark-text #interior-header nav a:hover {
    color: #000080;
}

.nav-dark-text #interior-header #logo svg path {
    fill: #fff;
}

.nav-dark-text.scrolled #interior-header {
    background-color: rgba(214,214,214,0.97);
}

.triangle {
    display: inline-block;
    left: 48%;
    bottom: 5%;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    position: fixed;
    z-index: 1000000;
    padding: 15px;
    line-height: 0;
    text-align: center;
}

.triangle svg {
    width: 20px;
}

.scrolled .triangle {
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    .scrolled #main-header {
        height: 98px;
        position: fixed;
        top: 0!important;
        left: 0;
        margin-top: 0;
    }

    .scrolled #main-header .container {
        padding-top: 0!important;
    }

    .scrolled #main-header .row {
        padding-top: 30px;
    }

    .scrolled #main-header h1 {
        opacity: 0;
        height: 0;
        margin: 0;
    }

    .scrolled #main-header #logo {
        width: 112px;
        height: 39.2px;
    }

    .scrolled #main-header #logo svg path {
        fill: #444444;
    }

    .scrolled #main-header .inner {
        background-color: #fff;
        overflow: auto;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .scrolled #main-header nav a {
        color: #444444;
    }

    .scrolled #main-header nav a:hover {
        color: #000080;
    }
}

.hiliter span {
    display: inline-block;
    background: rgba(255,255,0,0.4);
    padding: 0 16px;
    margin: 3px -12px;
}

.scrolled #top h2 {
    color: #ffffff;
    opacity: 1;
    left: 0px;
}

#top {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    height: 1050px;
    padding-top: 0;
    position: relative;
    background-color: rgba(0,0,0,0);
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
}

#top .container {
    position: relative;
}

#top h1 {
    font-weight: 300;
    font-size: 3.5em;
    padding-top: 50px;
    color: #ffffff;
}

#top h1 .heavier {
    font-weight: 650;
}

#top h2 {
    opacity: 0;
    left: -100px;
    -webkit-transition: all 2s;
    transition: all 2s;
    font-size: 4em;
    line-height: 1.2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-weight: 800;
    position: relative;
    z-index: 7777;
}

footer {
    font-size: 0.8em;
    color: #444;
    padding: 40px 0;
    background-color: rgba(0,0,0,0.9);
    position: relative;
}

.underline-blue {
    border-bottom: 2px solid rgba(71,163,218, 1);
}

.latest {
    border-bottom: 1px solid #eee;
}

.title-container {
    border-bottom: 1px solid #eee;
}

.contact a {
    color: #aaa;
    text-decoration: none;
}

.contact a i {
    padding-left: 3px;
}

@media only screen and (max-width: 767px) {
    .contact {
        padding-top: 1em;
        text-align: center;
    }
}

.copyright br {
    display: none;
}

@media only screen and (max-width: 767px) {
    .copyright {
        padding-top: 1em;
        text-align: center;
    }

    .copyright br {
        display: block;
    }
}

.space-nav {
    width: 100%;
    max-width: 500px;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 1.5em;
    float: right;
}

.space-nav i {
    position: absolute;
    top: 10px;
    right: 0;
    pointer-events: none;
    font-size: 0.6em;
    color: #CCC;
}

.space-nav label {
    color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    pointer-events: none;
}

.space-nav.open ul li {
    margin-top: 0;
    opacity: 1;
}

.space-nav.open label {
    color: #9a9a9a;
    padding: 0 0 8px 0;
}

.space-nav.open label.hide {
    color: transparent;
    pointer-events: none;
    -webkit-transition: none;
    transition: none;
}

.space-nav input {
    width: 100%;
    padding: 0 0 8px 0;
    border: none;
    color: #000080;
    border-bottom: 2px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    font-weight: 200;
}

.space-nav input:focus {
    outline: none;
}

.space-nav .title {
    font-size: 0.4em;
    text-transform: uppercase;
    background: #fff;
}

.space-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 8888;
    height: auto;
}

.space-nav ul li {
    margin-top: -30px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.space-nav ul li a {
    display: block;
    padding: 8px;
    background: #fafafa;
    color: #222;
}

.space-nav ul li.selected a,.space-nav ul li a:hover {
    background-color: #f3f3f3;
    color: #000080;
}

.space-nav .columnize {
    float: right;
    position: relative;
    width: 70%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.space-nav .columnize-left {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    float: left;
    width: 30%;
    padding: 0 12px 0 8px;
    text-align: right;
    text-transform: lowercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.space-nav .search-focus .columnize-left {
    width: 0;
    opacity: 0;
}

.space-nav .search-focus .columnize {
    width: 100%;
}

.space-nav label {
    position: absolute;
    left: 8px;
}

.has-image .space-nav.open label {
    color: #ededed;
}

.has-image .space-nav.open label.hide {
    color: transparent;
    pointer-events: none;
    -webkit-transition: none;
    transition: none;
}

.has-image .space-nav input {
    color: #fff;
}

code[class*="language-"],pre[class*="language-"] {
    color: black;
    text-shadow: 0 1px white;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

::selection {
    text-shadow: none;
    background: #b3d4fc;
}


.resume-wrap {
    display: block;
    border-top: solid 2px #000080;
    width: 100%;
    height: 75%;
    padding-bottom: 56.25%;
    position: relative;
}

.one-project {
    -webkit-font-smoothing: antialiased;
}

.one-project h1 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0.4em 0;
    padding: 0;
}

.one-project h2 {
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: #444444;
} 
.resume-wrap h2 {
  text-align: left;
  margin-bottom: 0;
  padding: 0;
}

@media only screen and (min-width: 959px) {
    .one-project h1 {
        font-size: 4em;
    }
}


@media only screen and (min-width: 959px) {
    .one-project h2 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }
}

.one-project h3 {
    font-size: 1.2em;
}

.one-project h4 {
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
    letter-spacing: 1px;
    padding-bottom: 3px;
    margin: 0;
}

.one-project p.header-intro {
    font-size: 1.5em;
    line-height: 1.5em;
}

.one-project p.underline {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    line-height: 2em;
    font-weight: 400;
    border-left: solid 3px #800080;
    border-right: solid 3px #800080;
    margin: 0 auto 2em auto;
    padding: 0 20px;
    color: #444444;
}
.text-center p.underline {
  border: none;
}

@media only screen and (min-width: 959px) {
    .one-project p.underline {
        font-size: 1.5em;
    }
}

.one-project p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6em;
}

.one-project blockquote {
    position: relative;
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    color: #666;
    font-size: 2em;
    line-height: 1.2em;
    width: 100%;
    padding: 0;
    margin: 1em 0;
}

.one-project blockquote:after {
    position: absolute;
    content: "";
    left: -20px;
    border-left: 2px solid #000080;
    height: 82%;
    top: 11%;
    width: 0;
}

@media only screen and (min-width: 959px) {
    .one-project blockquote {
        width: 60%;
        font-size: 3em;
    }

    .one-project blockquote:after {
        left: -50px;
    }
}

.one-project .video-container {
    margin: 4em 0;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    display: block;
    border-top: 3px solid #000080;
}

.one-project .video-container iframe {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.one-project .special-h1 {
    font-size: 2.5em;
    width: 65%;
    border-left: 2px solid #000080;
    padding-left: 20px;
    margin-left: -20px;
}
.one-project .site-content a {
    color: #000080;
}

.one-project .border-bottom {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

.one-project .border-bottom-dark {
    border-bottom: 1px solid #444444;
}

.one-project .border-bottom-blue {
    border-bottom: 1px solid rgba(71,163,218,1);
}

.one-project .white-bg {
    background-color: white;
}

.one-project .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}


@media only screen and (min-width: 959px) {
    .one-project .section-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.one-project .blue {
    color: rgba(71,163,218,1);
}

.one-project .box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -100px;
    width: 50%;
    background-color: white;
    position: relative;
    border-top: 2px solid #000080;
    display: inline-block;
}

.one-project header {
    color: #fff;
}

.one-project header#masthead {
    padding: 12em 0 6em 0;
    height: 50%;
    background-image: url(../images/livemusic.jpg); 
    background-repeat: no-repeat; 
    background-size: 110%; 
    background-position: center;
}

@media only screen and (min-width: 959px) {
    .one-project header#masthead {
        padding: 18em 0 10em 0;
    }
}


.one-project .section-resume-container {
    padding-top: 0;
    width: 100%;
    position: relative;
}

.one-project .section-resume-container .section-resume-wrapper {
    width: 500%;
    height: 100%;
    display: block;
    padding-bottom: 30.25%;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.one-project .section-resume-container .section-resume {
    position: relative;
    width: 16%;
}

.one-project .section-resume-container .section-resume .caption {
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 38%;
    background-color: #808000;
    font-size: 80%;
    color: #fff;
} 
.one-project .blue-section {
    background-color: #000080;
}

.one-project .blue-section h4 {
    color: white;
}

.one-project .blue-section p {
    font-family: 'Open Sans',sans-serif;
    font-size: 100%;
    color: #ffffff;
}

.one-project .projects {
    background-color: #fff;
}
.one-project .me {
    background-color: white;
}

.one-project .me .title {
    display: inline-block;
    float: right;
    margin-top: -110px;
    position: relative;
    width: 45%;
    color: white;
}

.one-project .learned-box {
    width: 500px;
    height: 500px;
    margin-left: 7%;
}

.one-project .learned-image {
    background-image:url(../images/Moi3.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
    width: 100%;
    padding-bottom: 80%;
}
.one-project .image-right {
    background-image: none;
    background-color: #fff;
    border: solid 5px #800000;
    text-align: center;
    margin-left: 5%;
    color: #222;
    font-size: 1.5em;
    line-height: 2em;
}

@media only screen and (min-width: 959px) {
    .one-project .learned-info {
        margin-top: -70px;
    }
}

.one-project .learned-quote {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid #800000;
}
.one-project .quote-right {
    border: 3px solid #808000;
}
.one-project .learned-quote:after {
    content: '"';
}

.one-project .learned-quote:before {
    content: '"';
}

@media only screen and (min-width: 959px) {
    .one-project .learned-quote {
        width: 50%;
        float: left;
    }
}
.one-project .the-end {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.one-project .the-end button {
    background-color: #000080;
    border: none;
    padding: 15px 50px;
    color: #fff;
    text-transform: uppercase;
}

.one-project .the-end button:hover {
    background-color: rgba(0, 0, 128,0.8);
}

.one-project .the-end {
    background-color: #ffffff;
}

.one-project .the-end .email-me-button {
    background-color: #808000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 1.5em 3em;
    margin: 0.5em 0 4em 0;
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    font-weight: bold;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

@media only screen and (min-width:1024px) {
    .one-project .the-end .email-me-button:hover {
      background-color: #808000;
        padding: 1.5em 5em;
        border-radius: 10px;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}
.one-project .my-projects a {
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-decoration: none;
    padding: 50px 0;
    position: relative;
}

.one-project .my-projects a:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #222;
    opacity: 0.8;
    z-index: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.one-project .my-projects .red:hover:after {
    opacity: 0.7;
    background-color: #800000;
}
.one-project .my-projects .green:hover:after {
    opacity: 0.7;
    background-color: #808000;
}
.one-project .my-projects .blue:hover:after {
    opacity: 0.7;
    background-color: #000080;
}
.one-project .my-projects .container {
    z-index: 2;
}

.one-project .my-projects .project-title {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Open Sans',sans-serif;
    padding-right: 50px;
}

@media only screen and (min-width:1024px) {
    .one-project .my-projects .project-title {
        font-size: 2.5em;
    }
}

.one-project .my-projects .project-desc {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-family: 'Open Sans',sans-serif;
}

.one-project .my-projects .nav-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 60px;
    line-height: 1em;
    margin-top: -30px;
    opacity: 0.6;
}

/
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links for images, or javascript/internal links
     */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

div.scripts {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  column-count: 2;
  column-gap: 0;
  padding:  0;
}
.skills h2,
.experience h2,
.education h2 {
  font-size: 24px;
  margin: 5px 0;
  padding: 5px;
}
.prev-employer h3 {
  font-size: 16px;
  margin-left: 25px;
}
.prev-employer p {
  margin-left: 30px;
}
.prev-employer ul {
  margin-left: 25px;
}
.prev-employer ul li {
  margin-left: 25px;
}
.job-desc ul li{
  text-align: left;
  margin-left: 20px;
}
.education h3 {
  font-size: 16px;
  font-size: 14px;
  margin-left: 25px;
}
.education p {
  margin-left: 30px;
}
/*# sourceMappingURL=css/style.css.map */
/*

