
header {
	text-align: center;
	background: url(HeaderBG.png);
	background-size: contain;	
	font-size: 48px;
	margin: 50px;
	padding: 0;
	margin: 0;
	height: 200px;
	width: 1000px;
	display: inline-block;
}

}
section {
	margin: 25px;
}

a {
	color: none
}

h1 {
	text-shadow: 2px 2px #000;
	color: #F0F8FF;
}

h2 {
	font-size: 36px;
}

body {	
	font-family: 'Special Elite', cursive;
	font-size: 24px;
	margin: 50px;
}


ul {
	list-style-type:none;
}

footer {
	text-align: center;
	font-size: 24px;
	padding: 0;
	margin: 0;
	height: 125px;
	width: 1000px;
	display: inline-block;

}
