.top-list {
	margin-bottom: 75px;
}

article {
	width: 90%;
	text-align: center;
}

.video {
	text-align: center;
	display: inline;
	margin: 50px 50px 65px 50px;
	padding: 50px 50px 50px 475px;
}

.content {
	margin: 75px 50px 50px 50px;
  	padding: 75px 50px 50px 50px;
 }