.top-list {
	margin-bottom: 75px;
}

.pics {
	list-style-type: none;
	display: inline;
	padding-right: 60px;

}

article {
	width: 90%;
	text-align: center;
}

.video {
	text-align: center;
	display: inline;
	margin: 40px 50px 75px 50px;
	padding: 40px 50px 75px 475px;
}

.content {
	margin-top: 50px;
	margin-right: 50px;
  	padding: 50px;
 }