
html, body, div,
h1, h2, h3, h4, p, a, 
em, img, ol, ul, li, nav {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  }
h1, h2, h3, h4 {
   font-weight: 800;
}
ul, ol {
  list-style: none;
}
li {
  border-radius: 1%;
}
body {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
.mobile-only, .mobile-header, .mobile-logos {
  display: none;
}
.header, .menu, .section1, .section2, .section3, .section4 {
  margin-left: 100px;
}
.header h1 {
  line-height: 70px;
  font-size: 70px;
  text-shadow: 1px 1px 1px #fff;
}
.header h2 {
line-height: 30px;
font-size: 30px;
}
.header {
    background: rgba(0, 0, 0, 1);
    background-size: 100%;
    color: #f8f8f8;
    box-shadow: 1px 1px 1px #565556;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.title-col {
    padding: 30px;
    letter-spacing: 4px;
    border-bottom: 3px solid #000;
    margin: 0 50px;
}
.myface, #myface {
  top: 2%;
  right: 5%;
  position: absolute;
  line-height: 20px;
}
.myface img{
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 100%;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .6), 0 2px 20px rgba(255, 255, 255, 1);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}
.myface img:hover{
  opacity: .7;
}
/*menu*/

.menu {
position: fixed;
overflow: hidden;
top: 0;
left: 0;
height: 100%;
list-style-type: none;
margin: 0;
padding: 0;
background: rgba(0, 0, 0, 1);
background-size: 100%;
}
.menu li {

}
.menu li a {
display: block;
height: 100px;
width: 100px;
line-height: 5em;
text-align: center;
color: #999;
position: relative;
border-bottom: 1px solid rgba(255,255,255,0.1);
-webkit-transition: background 0.1s ease-in-out;
-moz-transition: background 0.1s ease-in-out;
transition: background 0.1s ease-in-out;
}

.menu li a:hover,
.menu li:first-child a{
background: #47a3da;
color: #fff;
}
.menu li a:before {
font-style: normal;
font-weight: normal;
text-indent: 0em;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
font-size: 22px;
-webkit-font-smoothing: antialiased;
}
.menu li a:before {
top: 20%;
padding: 3px;
}
.menu li a.me:before {
content: "andrew.";
font-weight: 700;
top: 0;
}
.phone:before {
content: url(../images/mobile-phone-8-48.png);
}
.email:before {
content: url(../images/email-48.png);
}
.uno:before {
content: url(../images/about-me-3-48.png);
}
.portfolio:before {
content: url(../images/dossier-48.png);
}
.twitter:before {
content: url(../images/twitter-48.png);
}
.linkedin:before {
content: url(../images/linkedin-48.png);
}
.github:before {
content: url(../images/github-6-48.png);
}
/*developer div*/
.developer-desc {
  font-family: 'Open Sans' sans-serif;
  text-align: center;
  width: 100%;
  height: 1250px;
  font-size: 24px;
  background: url(../images/EvylineWadmalaw.jpeg) no-repeat;
  background-size: cover;
}
.developer-desc {
    zoom: 1;
    -webkit-text-shadow: 3px 3px #000;
    -moz-text-shadow: 3px 3px #000;
    text-shadow: 3px 3px #000;  
    -webkit-box-shadow: inset 0 0 30px 15px #49628a;
    -moz-box-shadow: inset 0 0 30px 15px #49628a;
    box-shadow: inset 0 0 30px 15px #49628a;

    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
}
.am-desc {
  padding: 125px 50px;
  width: 80%;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
}

.am-desc h2 {
  font-size: 40px;
}
.skills-logos {
  text-align: center;
  width: 100%;
  height: 850px;
}
.skills-logos .title-col {
  font-size: 30px;
  text-align: left;
}
.use-desc {
  color: #505050;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 5px 200px;
  padding: 25px;  
  text-align: center;
}
.use-desc h2 {
  font-size: 36px;
}
.logos {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  column-count: 2;
  column-gap: 0;
  margin: 5px 150px;
  border: 1px 1px 1px #eee;
  box-shadow: 3px 3px #eee;
  max-height: 600px;
  overflow: auto;
  background: scroll;
  background-color: #fff;
  border: solid 2px #fff;
  letter-spacing: 3px;
  -moz-box-shadow: inset 0 0 5px 5px #888;
-webkit-box-shadow: inset 0 0 5px 5px  #888;
box-shadow: inset 0 0 5px 5px #888;
}
#logo p {
  font-size: 28px;
  margin: 15px;
  color: #000;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
p.type {
  padding: 15px;
}
.logos div img {
  width: 90px;
  height: 90px;
  padding: 5px;
  border: solid #fff 1px;
  box-shadow: 4px 4px 4px #000;
  background: #eee;
  border-radius: 5px;
}
.logos div img.firebase,
.logos div img.jasmine, 
.logos div img.mongo {
  width: 290px;
  height: 90px;
}
.logos div img.mocha {
  width: 300px;
  height: 125px;
}
.logos div img.underscore {
  width: 290px;
  height: 115px;
}
.logos div img.html5css3 {
  width: 320px; 
  height: 130px;
}

/*project thumb section*/
.thumbs ul {
  background: rgba(49,152,140,0.2);
  overflow: auto; 
  max-width: 95%;
  margin: 25px 75px 25px 50px;
}
.thumbs li {
  width: 300px;
  height: 280px;
  margin: 15px 2px 25px 40px;
  background: rgba(255, 255, 255, 1);
  padding: 25px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.thumbs a {
  color: #000;
}
.thumbnail {
  width: 295px;
  height: 250px;
  
}
.pdf-resume {
  display: none;
  background: url(../images/surprise.jpg);
  background-size: 20px 20px;
}
#resume h1 {
  font-size: 28px;
  font-weight: 800;
}
#resume h2, #portfolio h2 {
  font-size: 30px;
}
.resume {
  margin: 30px 30px;
}
.resume-header {
  text-align: center;
  margin: 0px 50px;
}
.contact-info {
  text-align: center;
  padding: 5px;
}
a[href^=mailto], a[href^=callto]{
color: #47a3da;
}
.heading {
  margin: 5px;
  padding: 15px;
}
.summary{
  text-align: center;
  padding: 5px;
}
.skills {
  text-align: left;
  padding: 5px;
}
ul.skills {
  list-style-type: circle;
  margin-left: 50px;
  padding: 5px;
}
.skills li {
  padding: 3px;
}
div.scripts {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  column-count: 2;
  column-gap: 0;
  padding: 5px;
}
.experience {
  padding: 10px;
}
.prev-employer h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  margin-left: 25px;
}
.prev-employer p {
  margin-left: 30px;
}
.prev-employer ul {
  margin-left: 25px;
  padding: 5px;
}
.prev-employer ul li {
  margin-left: 25px;
  padding: 3px;
}
.job-desc ul li{
  text-align: left;
  list-style-type: none;
  margin-left: 20px;
}
.education h3 {
  padding: 5px;
  font-size: 18px;
  margin-left: 25px;
}
.education p {
  padding: 5px;
  margin-left: 30px;
}
.backtotop img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid 10px #47a3da;
}
/*footer */
.footer {
background: rgba(0, 0, 0, 1);
background-size: 100%;
height: 100px;
font-size: 14px;
font-size: 1.4rem;
text-decoration: none;
}
.footer-content {
  margin-left: 110px;
}
.copyright {
  color: #eee;
  float: left;
  margin: 5px;
  padding: 5px;
}
.twitter-follow-button {
    float: right;
    margin: 10px;
    padding: 10px;
  }
  @media only screen and (max-device-width : 2048px) {
      .backtotop {
        opacity: 0.4;
        margin: 15px; 
      }
      .use h3 a{
        margin: 30em;
      }
      .logos{
        margin: 5px 100px;
      }
      .#logos {
        margin: 15px;
        padding: 15px;
      }
      .am-desc {
         margin-left: 5%;
    } 
      
    }
  @media only screen and (max-device-width : 640px) {
    
    .section1, .section2, .section3, .section4 {
      margin: 0;
    }
    .header h1, .header h2 {
      display: none;
    }
    .header, .menu, div#logo {
      display: none;
    }
    .mobile-header {
      display: block;
      text-align: center;
      font-size: 28px;
      background: rgba(0, 0, 0, 1);
      position: fixed;
      width: 100%;
      height: auto;
    }
    .mobile-header h3 {
      color: #fff;
      display: block;
    }
    .mobile-header ul li {
      display: inline-block;
      padding: 10px;
    }
    .pdf-resume a {
      display: block;
    }
    .mobile-logos {
      display: block;
      border: 1px 1px 1px #eee;
      box-shadow: 3px 3px #eee;
      max-height: 500px;
      overflow: auto;
      background: scroll;
      background-color: rgba(71,163,218,0.2);
      border: solid 2px #fff;
      box-shadow: 2px 2px 2px #ddd;
      letter-spacing: 3px;
    }
    .mobile-logos li {
      margin: 5px;
      padding: 5px;
    }
    .mobile-logos ul li img {
      width: 75px;
      height: 75px;
    }
    .mobile-logos ul li img.mocha,
    .mobile-logos ul li img.jasmine,
    .mobile-logos ul li img.underscore,
    .mobile-logos ul li img.css3html5,
    .mobile-logos ul li img.mongo,
    .mobile-logos ul li img.firebase {
      width: 115px;
    }
    #resume div, #resume p, #resume ul {
      display: none;
    }
    #me, #resume, .am-desc, .use-desc {
      margin: 0 auto;
      width: auto;
      height: auto;
    }
   .developer-desc {
      background: url(../images/AnotherFolly.jpeg) no-repeat;
      background-size: cover;
      width: 100%;
      height: 500px;
    }
    .title-col {
      margin: 0;
    }
    #portfolio p, #resume p, .use-desc p {
      margin: 0 auto;
    }
    .twitter-follow-button {
      padding: 0;
      margin-left: 0;        
      margin-top: 5px;
      width: 40px;
      }
    .copyright {
      margin: 0;
      font-size: 12px;
    }
    .thumbs-list ul {
      margin: 0;
      width: 100%;
    }
      .thumbs li {
        width: 100%;
        font-size: 14px;
        margin: 0;
        padding: 5px;
        border: solid 5px #47a3da;
        height: auto;
        }
      .thumbnail {
       width: 195px;
        }
      .footer div {
        display: inline;
        padding: 0;
        margin: 0;
      }
    }