@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
    -webkit-font-smoothing: antialiased;
}
ul, li {
  list-style-type: none;
}
.container {
    position: relative;
    width: 1152px;
    margin: 0 auto;
    padding: 0;
}
.columns {
    float: left;
    display: inline;
    margin-left: 14px!important;
}
.row {
    margin-bottom: 28px;
}
.container .columns.four {
    width: 356px;
}
.container .columns.six {
    width: 548px;
}
.container .columns.eight {
    width: 740px;
}
.container .columns.ten {
    width: 932px;
}
.container .columns.twelve {
    width: 1124px;
}
.container .offset-by-one {
    padding-left: 96px;
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container {
        width: 888px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .container .columns.four {
        width: 272px;
    }
    .container .columns.six {
        width: 420px;
    }
    .container .columns.eight {
        width: 568px;
    }
    .container .columns.nine {
        width: 642px;
    }
    .container .columns.ten {
        width: 716px;
    }
    .container .columns.twelve {
        width: 864px;
    }
    .container .offset-by-one {
        padding-left: 74px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 684px;
    }
    .container .column,.container .columns {
        margin-left: 10px!important;
        margin-right: 10px!important;
    }
    .container .columns.four {
        width: 208px;
    }
    .container .columns.six {
        width: 322px;
    }
    .container .columns.eight {
        width: 436px;
    }

    .container .columns.nine {
        width: 493px;
    }

    .container .columns.ten {
        width: 550px;
    }
    .container .columns.twelve {
        width: 664px;
    }
    .container .offset-by-one {
        padding-left: 57px;
    }
}
@media only screen and (max-width: 767px) {
    .columns{
        margin: 0!important;
    }
    .container {
        width: 280px;
    }
    .container .columns.four,.container .columns.six,.container .columns.eight,.container .columns.nine,.container .columns.ten,.container .columns.twelve {
        width: 280px;
    }
    .container .offset-by-one {
        padding-left: 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 400px;
    }
    .container .columns.four,.container .columns.six,.container .columns.eight,.container .columns.nine,.container .columns.ten,.container .columns.twelve {
        width: 400px;
    }
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,.clearfix:after,.row:before,.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,.clearfix:after {
    clear: both;
}

.row,.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
@media only screen and (max-width: 767px) {
    .gt768 {
        display: none!important;
    }
}
article,footer,header,nav,section{
    display: block;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}
strong {
    font-weight: bolder;
    background: #ddd;
    color: #fff;
    padding: 2px;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

img {
    border: 0;
}
button {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    line-height: normal;
    -webkit-appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner, {
    border: 0;
    padding: 0;
}
html,button {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    color: #444444;
    background: #efefef;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.page-wrap {
    background-color: #fff;
    position: relative;
    z-index: 2;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media only screen and (max-width: 767px) {
    .page-wrap {
        background-color: #fff;
    }
}
h1 {
    font-size: 3em;
    font-weight: normal;
    padding: 50px 0;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2em;
        padding: 30px 0 0 0;
    }
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.2em;
}

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
}

a,a:link,a:active,a:visited {
    color: #fff;
    text-decoration: none;
}
@media only screen and (max-width: 767px) {
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0; 
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}


}
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.page-wrap {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
    position: relative;
}

.articles {
    top: 200px;
    position: relative;
    -webkit-transition: top 1.4s ease-out,opacity 1.2s ease-in;
    transition: top 1.4s ease-out,opacity 1.2s ease-in;
    -webkit-transition-delay: .6s;
    opacity: 0;
}

.articles .half {
    width: 50%;
    float: left;
}

.dark-bg {
    background-color: #444444;
    color: #ffffff;
}

.blue-bg {
    background-color: rgba(71,163,218, .8);
    color: #ffffff;
}

.header-wrapper {
    padding: 5% 0;
    margin-bottom: 1em;
    font-family: 'Lato',sans-serif;
}

@media only screen and (max-width: 767px) {
    .header-wrapper {
        padding: 2em 0;
    }
}

.header-wrapper h2 {
    font-family: 'Lato',sans-serif;
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.header-wrapper h2 .terms {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
#interior-header {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 98px;
    background-color: rgba(34,34,34,0.9);
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#interior-header .container {
    padding-top: 0;
}

#interior-header nav {
    position: relative;
    text-align: right;
}

#interior-header nav a, #interior-header #logo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.2em;
    display: inline-block;
    padding: 8px 0 8px 0;
    margin-left: 42px;
    font-size: 0.8em;
}

#interior-header nav a.active {
    border-bottom: 2px solid #000080;
}
@media only screen and (max-width: 959px) {
    #interior-header nav a {
        margin-left: 30px;
    }
}

#interior-header .row {
    position: relative;
    padding-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

#interior-header #logo {
    -webkit-transition: width 0.25s ease;
    transition: width 0.25s ease;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    width: 112px;
    height: 39.2px;
    display: block;
}

@media only screen and (max-width: 1024px) {
    #interior-header {
        position: absolute;
        background-color: transparent;
    }
}

.nav-dark-text #interior-header {
    background-color: rgba(0,0,0,0.09999999999999998);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;
}

.nav-dark-text #interior-header nav a {
    color: #fff;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.nav-dark-text #interior-header nav a:hover {
    color: #000080;
}

.nav-dark-text.scrolled #interior-header {
    background-color: rgba(214,214,214,0.97);
}
footer {
    font-size: 0.8em;
    color: #fff;
    padding: 40px 0;
    background-color: rgba(0,0,0,0.9);
    position: relative;
}
.title-container {
    border-bottom: 1px solid #eee;
}

.contact a {
    color: #eee;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .contact {
        padding-top: 1em;
        text-align: center;
    }
}

.copyright br {
    display: none;
}

@media only screen and (max-width: 767px) {
    .copyright {
        padding-top: 1em;
        text-align: center;
    }

    .copyright br {
        display: block;
    }
}
.one-project .top-section {
    background-image: url();
    background-size: cover;
    background-position: center;
}
.ten.columns.offset-by-one.about-me {
    padding-top: 25px;
}
.resume-wrap {
    font-size: 24px;
    line-height: 1.7em;
    width: 80%;
}
.resume-wrap.contact {
    border: none;
    margin: 20px 0;
    padding: 20px 0;
    width: 100%;
}
.resume-wrap.contact p a {
    color: #222;
}
.resume-skills {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.7em;
    width: 75%;
}
.resume-wrap p {
    width: 95%;
    padding: 5px;
}
.resume-wrap span {
    font-size: 14px;
}
.one-project {
    -webkit-font-smoothing: antialiased;
}

.one-project h1 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0.4em 0;
    padding: 0;
}

.one-project h2 {
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    color: #444444;
} 
.one-project .top-section h2 {
    margin: 10px 0;
}
.one-project .resume-wrap h2 {
    font-size: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 959px) {
    .one-project h1 {
        font-size: 4em;
    }
}

@media only screen and (min-width: 959px) {
    .one-project h2 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }
}

.one-project h3 {
    font-size: 1.2em;
}

.one-project h4 {
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
    letter-spacing: 1px;
    padding-bottom: 3px;
    margin: 0;
}

.one-project p.header-intro {
    font-size: 1.5em;
    line-height: 1.5em;
}
.one-project p.underline {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    line-height: 2em;
    font-weight: 400;
    border-left: solid 3px #800080;
    border-right: solid 3px #800080;
    margin: 0 auto 2em auto;
    padding: 0 20px;
    color: #444444;
}
.text-center p.underline {
  border: none;
}

@media only screen and (min-width: 959px) {
    .one-project p.underline {
        font-size: 1.5em;
    }
}

.one-project p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6em;
}
.one-project .aboutme {
   margin-top: 45px;
}
@media only screen and (min-width: 959px) {
    .one-project blockquote {
        width: 60%;
        font-size: 3em;
    }

    .one-project blockquote:after {
        left: -50px;
    }
}
.one-project .special-h1 {
    font-size: 2.5em;
    width: 65%;
    border-left: 2px solid #000080;
    padding-left: 20px;
    margin-left: -20px;
}
.one-project .site-content a {
    color: #eee;
}

.one-project .border-bottom {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

.one-project .border-bottom-dark {
    border-bottom: 1px solid #444444;
}

.one-project .border-bottom-red {
    border-bottom: 1px solid #800000;
}

.one-project .white-bg {
    background-color: #fff;
}

.one-project .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}
#projects {
    padding:0;
}
@media only screen and (min-width: 959px) {
    .one-project .section-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.one-project .box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -100px;
    width: 50%;
    background-color: white;
    position: relative;
    border-top: 2px solid #000080;
    display: inline-block;
}

.one-project header {
    color: #fff;
}

.one-project header#masthead {
    padding: 12em 0 6em 0;
    height: 50%; 
    background-image:url(../images/livemusic.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

@media only screen and (min-width: 959px) {
    .one-project header#masthead {
        padding: 18em 0 10em 0;
    }
}
 .one-project .resume-container {
    padding-left: 170px;
    padding-right: 0px;
 }
 @media only screen and (max-width: 320px) {
    .one-project .resume-container {
        padding-left: 0;
    }
      .one-project .aboutme {
        text-align: center;
    }
    .resume-wrap h2 {
        text-align: center;
    }
    .resume-wrap h2.email {
        padding-top: 10px;
        margin-top: 20px;
    }
}
 @media only screen and (max-width: 640px) {
    .one-project .resume-container {
        padding-left: 15px;
    }
}
 .resume-wrap.contact a {
    color: #222;
 }
.row .caption .download:hover {
    background-color: #808000;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    }

.one-project .blue-section {
    background-color: #222;
    margin: -40px auto 0 auto;
    padding-top: 100px;
}

.one-project .blue-section h4 {
    color: white;
}

.one-project .blue-section p {
    font-family: 'Open Sans',sans-serif;
    font-size: 100%;
    color: #ffffff;
}

.one-project .projects {
    background-color: #000080;
}
.one-project .me {
    background-color: white;
}

.one-project .me .title {
    display: inline-block;
    float: right;
    margin-top: -110px;
    position: relative;
    width: 45%;
    color: white;
}
.one-project .the-end {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.one-project .download {
    text-align: center;
    padding: 0;
    margin: 0;
}

.one-project .the-end .email-me-button {
    background-color: #8B8270;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 1.5em 3em;
    margin: 0.5em 0 4em 0;
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    font-weight: bold;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.one-project .download .email-me-button {
    background-color: #8B8270;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: .5em 2em;
    margin: 0px 0 2em 0;
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    font-weight: bold;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

@media only screen and (min-width:1024px) {
    .one-project .the-end .email-me-button:hover {
      background-color: #8B8270;
        padding: 1.5em 5em;
        border-radius: 10px;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}
@media only screen and (min-width:1024px) {
    .one-project .download .email-me-button:hover {
      background-color: #8B8270;
        padding: .5em 4em;
        border-radius: 10px;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}
.download h2 {
    padding: 0;
    margin-bottom: 15px;
}
.one-project .top-section {
    padding: 0;
}
.one-project .download {
    padding: 0;
}
.one-project .my-projects a {
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-decoration: none;
    padding: 50px 0;
    position: relative;
}

.one-project .my-projects a:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #222;
    opacity: 0.8;
    z-index: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.one-project .my-projects .red:hover:after {
    opacity: 0.4;
}
.one-project .my-projects .green:hover:after {
    opacity: 0.4;
}
.one-project .my-projects .blue:hover:after {
    opacity: 0.4;
}
.one-project .my-projects .container {
    z-index: 2;
}

.one-project .my-projects .project-title {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Open Sans',sans-serif;
    padding-right: 50px;
}

@media only screen and (min-width:1024px) {
    .one-project .my-projects .project-title {
        font-size: 2.5em;
    }
}

.one-project .my-projects .project-desc {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-family: 'Open Sans',sans-serif;
}

.one-project .my-projects .nav-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 60px;
    line-height: 1em;
    margin-top: -30px;
    opacity: 0.6;
}


@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links for images, or javascript/internal links
     */

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
